/* Contact Us Section Styling */
.contact-us-section {
  display: flex;
  flex-direction: column;
  column-gap: 1rem; /* Reduced gap between columns */
  padding: 50px;
  background-color: var(--body-bg);
  align-items: center;
  color: var(--heading-color);
}

.contact-us-content,
.contact-us-form {
  width: 45%; /* Slightly reduced width for better spacing */
}

.contact-us-content h5 {
  font-size: 18px;
  color: var(--primary-color);
}

.contact-us-content h1 {
  font-size: 48px;
  margin: 10px 0 30px;
  color: var(--heading-color);
}

.description {
  color: var(--small-text-color);
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 30px;
}

.contact-us-form {
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  width: 100%; /* Full width inside the container */
  max-width: 500px; /* Reduced the max width for better visual alignment */
  margin: 40px auto;
}

.contact-us-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  background-color: #f8f8f8;
  outline: none;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: #b0b0b0;
}

.form-textarea {
  height: 150px;
  resize: none;
}

.form-button {
  background-color: var(--btn-primary-bg);
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: var(--btn-secondary-bg);
}

/* Responsive Design */
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  .contact-us-section h2 {
    font-size: 1.5rem;
  }

  .contact-us-content,
  .contact-us-form {
    width: 100%; /* Full width for smaller screens */
  }

  .contact-us-illustration img {
    height: 400px !important;
  }
}

@media only screen and (max-width: 768px) {
  .contact-us-section {
    flex-direction: column;
    padding: 20px; /* Reduced padding for smaller screens */
  }

  .contact-us-content,
  .contact-us-form {
    width: 100%; /* Full width in column layout */
  }

  .contact-us-form {
    margin-top: 30px;
  }

  .contact-us-illustration img {
    height: 300px !important; /* Further reduced height for smaller screens */
  }

  .contact-us-content {
    margin-bottom: 30px;
  }
}
